/* Laptop View*/

@media screen and (min-width: 992px){
	.navigationBar{
		height: 45px;
	}
	.navigationLinks{
	}
	.gitLinkedinResumeLinks{
	}
	.extracurricular{
		font-family: 'Poiret One', cursive;
		font-size: 80px;
		color: #3E2723;
		padding-left: 5%;
		text-shadow: 3px 5px 8px #000000;
	}
	.diagram{
		display: block;
		margin: auto;
		width: 100%;
	}
}

/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 992px){
	.extracurricular{
		font-family: 'Poiret One', cursive;
		font-size: 45px;
		color: #3E2723;
		padding-left: 5%;
		text-align: left;
		text-shadow: 3px 5px 8px #000000;
	}
	.content{
		display: none;
	}
	.diagram{
		display: block;
		margin: auto;
		width: 100%;
	}
	.contentMobile{
		text-align: center;
		padding-top: 6%;
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 10%;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #930808;
	}
	hr{
		width: 60%;
		height: 20px;
	}
}