/* Laptop View*/

@media screen and (min-width: 992px){
	.minilogo:hover{
		transform: scale(1.1);
	}
	.navbar{
		padding-right: 60px;
	}
	.navigationLinks{
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.nav-link{
		margin-left: 10px;
		margin-right: 10px;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}
	.nav-link:hover{
		transform: scale(1.2);
	}
	.niharikaImage{
		width: 60%;
		margin-left: -6%;
		position: fixed;
		top: 50%;
		transform: translate(-20%, -50%);
	}
	.name{
		font-size: 85px;
		text-align: center;
		padding-top: 8%;
		padding-bottom: 2%;
		padding-left: 3%;
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		margin-top: 50px;
	}
	.information{
		font-size: 23px;
		text-align: right;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 3%;
		line-height: 200%;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-bottom: 10%;
	}
	.knowMoreButtonMobile{
		display: none;
	}
	.knowMoreButtonDesktop{
		text-align: center;
	}
	.knowMoreButton{
		padding-left: 1%;
		padding-right: 1%;
		display: inline-block;
	}
	.knowMoreButton:hover{
		transform: scale(1.1);
	}
	.knowMore{
		color: white;
	}
	.knowMore:hover{
		color: white;
		text-decoration: none;
	}
	.links{
		text-align: right;
		padding-right: 10%;
	}
	.linksMobile{
		display: none;
	}
	.minilogo{
		height: 40px;
		width: 40px;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 5%;
	}
	.firstImage{
		margin-left: 5%;
	}
}


/* Mobile View */


@media screen and (min-width: 320px) and (max-width: 992px){
	.minilogo:hover{
		transform: scale(1.1);
	}
	.niharikaImage{
		width: 100%;
		transform: translate(0%, 20%);
	}
	.name{
		font-size: 45px;
		text-align: center;
		margin-top: 60%;
		padding-top: 25%;
		padding-bottom: 2%;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.information{
		font-size: 18px;
		text-align: center;
		padding-left: 5%;
		padding-right: 10%;
		line-height: 150%;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		width: 30%;
	}
	.knowMoreButtonDesktop{
		display: none;
	}
	.knowMoreButton{
		text-align: center;
		padding-bottom: 2%;
	}
	.knowMore{
		color: #343a40;
		font-size: 16px;
	}
	.links{
		display: none;
	}
	.linksMobile{
		text-align: center;
		padding-bottom: 7%;
		transform: scale(0.9);
	}
	.minilogo{
		height: 40px;
		width: 40px;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 5%;
	}
	.firstImage{
		margin-left: 5%;
	}
}

