/* Laptop View*/

.imgImg {
	width:65%;
	border-radius: 10px;
	filter: drop-shadow(5px 2px 2px grey);
	margin: 0 auto;
}
.card{
	box-shadow: 0px 25px 25px -25px #000000;
}
.card:hover{
	/* filter: drop-shadow(5px 5px grey); */
	transform: scale(1.1);
}
.googleImages > img{
	width: 100%;
	border: 1px gray solid;
}
.googleImages > p{
	text-align: center;
}

@media screen and (min-width: 992px){
	.navigationBar{
		height: 45px;
	}
	.portfolio{
		font-family: 'Poiret One', cursive;
		font-size: 80px;
		color: #3E2723;
		padding-left: 5%;
		text-shadow: 3px 5px 8px #000000;
		margin-bottom: 40px;
	}
	.jumbotron{
		filter: drop-shadow(5px 2px 2px grey);
	}
	.imgPart{
		/* margin-bottom: 6%; */
	}
	.imgImg{
		/* width: 100%; */
		/*height: 15%;*/
		
	}
	.textPart > p{
		font-size: 20px;
		line-height: 2;
		font-family: 'Open Sans', sans-serif;
	}
	#rolodexModal{
	}
	.img_Keep_div{
		margin-bottom: 10px;
		width: 100%;
	}
	.img_Keep_div > img{
		width: 30%;
		height: auto;
		border: 1px grey solid;
		margin: 10px;
	}
	.budgetMeImages > img{
		width: 100%;
		height: auto;
		border: 1px grey solid;
		margin-bottom: 20px;
	}
	.rolodexImages > img{
		width: 100%;
		height: auto;
		border: 1px grey solid;
		margin-bottom: 20px;
	}
}

/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 992px){
	.portfolio{
		font-family: 'Poiret One', cursive;
		font-size: 45px;
		color: #3E2723;
		padding-left: 5%;
		text-align: left;
		text-shadow: 3px 5px 8px #000000;
	}
	.img_Keep_div > img{
		width: 100%;
		height: auto;
		border: 1px grey solid;
		margin: 10px;
	}
	.budgetMeImages > img{
		width: 100%;
		height: auto;
		border: 1px grey solid;
		margin-bottom: 20px;
	}
	.rolodexImages > img{
		width: 100%;
		height: auto;
		border: 1px grey solid;
		margin-bottom: 20px;
	}
}