/* Laptop View*/

@media screen and (min-width: 992px){
	.navigationBar{
		height: 45px;
	}
	.navigationLinks{
	}
	.gitLinkedinResumeLinks{
	}
	.projects{
		font-family: 'Poiret One', cursive;
		font-size: 80px;
		color: #3E2723;
		padding-left: 5%;
		text-shadow: 3px 5px 8px #000000;
	}
	.proj{
		width: 90%;
		display: block;
		margin: auto;
	}
	.content{
		display: none;
	}
}

/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 992px){
	.projects{
		font-family: 'Poiret One', cursive;
		font-size: 45px;
		color: #3E2723;
		padding-left: 5%;
		text-align: left;
		text-shadow: 3px 5px 8px #000000;
	}
	.diagram{
		display: none;
	}
	.content{
		padding-left: 3%;
		padding-right: 3%;
	}
	.title{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: #0275D8;
		padding-top: 2%;
		font-family: 'Open Sans', sans-serif;
	}
	.description{
		font-size: 16px;
		text-align: justify;
		padding-left: 2%;
		padding-right: 2%;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
}