/* Laptop View*/

@media screen and (min-width: 992px){
	.navigationBar{
		height: 45px;
	}
	.navigationLinks{
	}
	.gitLinkedinResumeLinks{
	}
	.skills{
		font-family: 'Poiret One', cursive;
		font-size: 80px;
		color: #3E2723;
		padding-left: 5%;
		text-shadow: 3px 5px 8px #000000;
	}
	.mobileMain{
		display: none;
	}
}

/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 992px){
	.skills{
		font-family: 'Poiret One', cursive;
		font-size: 45px;
		color: #3E2723;
		padding-left: 5%;
		text-align: left;
		text-shadow: 3px 5px 8px #000000;
	}
	.desktopMain{
		display: none;
	}
	.main{
		text-align: center;
	}
	.title{
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		color: #563D7C;
	}
}