.header-v2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  font-family: 'IBM Plex Sans', -apple-system, sans-serif;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.header-v2-spacer {
  height: 92px;
  width: 100%;
}

.header-v2-logo {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
  color: #808080;
  transition: color 0.2s ease;
}

.header-v2-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
  color: #808080;
  transition: color 0.2s ease;
}

.header-v2-nav {
  display: flex;
  gap: 32px;
}

.header-v2-logo:hover .nav-text,
.header-v2-link:hover .nav-text {
  color: #000000;
}

@keyframes text-gradient-shimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.back-link-group:hover .icon-solid-hover {
  color: #000000;
}

.back-link-group:hover .shimmer-text,
.nav-item-shimmer:hover {
  color: #000000;
  display: inline-block;
}