.typography {
  font-family: var(--typography-font-family);
  font-size: var(--typography-font-size);
  font-weight: var(--typography-font-weight);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  text-transform: var(--typography-text-transform);
}

@media (max-width: 768px) {
  .typography-bodyRegular {
    line-height: 1.5 !important;
  }
  .typography-h6Medium {
    line-height: normal !important;
  }
}
