.typography {
  font-family: var(--typography-font-family);
  font-size: var(--typography-font-size);
  font-weight: var(--typography-font-weight);
  letter-spacing: var(--typography-letter-spacing);
  line-height: var(--typography-line-height);
  text-transform: var(--typography-text-transform);
}

@media (max-width: 768px) {
  .typography-bodySemibold,
  .typography-bodyRegular,
  .typography-bodyLight {
    --typography-font-size: 16px !important;
    --typography-line-height: 1.5 !important;
  }
  
  .typography-h1Bold,
  .typography-h1Regular {
    --typography-font-size: 28px !important;
    --typography-line-height: 1.2 !important;
  }

  .typography-h2Medium,
  .typography-h2Regular {
    --typography-font-size: 24px !important;
    --typography-line-height: 1.2 !important;
  }

  .typography-h3Medium,
  .typography-h3Regular {
    --typography-font-size: 22px !important;
    --typography-line-height: 1.3 !important;
  }

  .typography-h4Regular {
    --typography-font-size: 20px !important;
    --typography-line-height: 1.3 !important;
  }

  .typography-h5Regular {
    --typography-font-size: 20px !important;
    --typography-line-height: 1.4 !important;
  }

  .typography-h6Medium,
  .typography-h6Regular {
    --typography-font-size: 18px !important;
    --typography-line-height: 1.4 !important;
  }
}
